.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: auto;
    overflow-x: hidden;
    padding-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #212529;
}

.menuItem {
    background-color: #ffe920;
    min-height: 50px;
    min-width: 200px;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none; /* Remove underlining */
    color: #212529; /* Set the desired text color */
    cursor: pointer; /* Add pointer cursor for better UX */
}

.active {
    font-weight: bold;
}

/* NotFound.css */
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-message {
    text-align: center;
    color: #ff0000; /* Red color for the text */
}

.alert-triangle {
    font-size: 2em;
    margin-right: 10px;
}

.menuItem:hover {
    font-weight: bold; /* Make the text bold on hover */
}

.bookmarkColumn {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.searchResult{
    /* Set box-sizing to border-box to include border and padding within the total width and height */
    box-sizing: border-box;

    /* Set a transparent border to reserve space for the border */
    border: 3px solid transparent;

}

.searchResult:hover {
    border-color: #ffe920;
}

.searchCard-title:hover{
    color: #808080; /* Change to the desired color */
}


.recent-search-link {
    color: black;
    text-decoration: none;
}

.recent-search-link:hover {
    color: #808080;
}